<table>
  <tr>
    <th>Engine Name &nbsp; &nbsp;</th>
    <th>Last Run</th>
    <th>Users</th>
    <th>Connections</th>
  </tr>
    <% @engines.each do |engine| %>
  
  <tr>
    <td><%= engine.engineName %></td>
    <td><%= engine.lastRun %></td>
    <td><%= engine.users.map(&:username).join(", ") %></td>
    <td><%= engine.connections.map(&:sessionName).join(", ") %></td>
  </tr>

  <% end %>

</table>