<table>
  <tr>
    <th>ID &nbsp; &nbsp;</th>
    <th>Engine Name</th>
    <th>Exchange &nbsp;</th>
    <th>IP &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
    <th>Port &nbsp;</th>
  </tr>
    <% @connections.each do |connection| %>
  <tr>
    <td><%= connection.idconnections %></td>
    <td><%= connection.engineName %></td>
    <% if connection.exchange == 1 %>
      <td>NYSE</td>
    <%  elsif connection.exchange == 2 %>
    <td>NASDAQ</td>
    <% elsif connection.exchange == 3 %>
    <td>BATS</td>
    <% else %>
    <td>DIRECT EDGE</td>
    <% end %>
    <td><%= connection.ip %></td>
    <td><%= connection.port %></td>
  </tr>

  <% end %>
  
</table>
